<script>
  window.MathJax = {
    loader: { load: ['[tex]/ams'] },
    tex: {
      packages: { '[+]': ['ams'] },
      // 1. Recognize both $ and \( for inline math
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      // 2. Recognize $$, \[, and raw \begin{...} as display math
      displayMath: [
        ['$$', '$$'],
        ['\\[', '\\]'],
        ['\\begin{equation}', '\\end{equation}'],
        ['\\begin{equation*}', '\\end{equation*}'],
        ['\\begin{align}', '\\end{align}'],
        ['\\begin{align*}', '\\end{align*}'],
        ['\\begin{gather}', '\\end{gather}'],
        ['\\begin{gather*}', '\\end{gather*}']
      ],
      processEscapes: true,
      processEnvironments: true,
      tags: 'ams'
    },
    options: {
      // 3. Prevent MathJax from skipping paragraph tags containing TeX
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'has_jax'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
